<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Embed 2.0</title>
  <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <!-- <script type="text/javascript" src="/static/particles.js"></script> -->
  <link href="/static/cas logo circle 1.png" rel="icon">
  <link href="/static/cas logo circle 1.png" rel="apple-touch-icon">
  <style>
    body {
      background: black;
    }

    .particles-js {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: fixed;

    }


    #frame {
      background-image: url("/static/Frame 1.png");
    }
  </style>
</head>

<body>
  <div class="particles-js" id="particles-js"></div>
  <div class="container">
  <nav class="contianer" style="background: #1A1B1D; padding: 0.5%;">
    <a class="navbar-brand" href="https://github.com/AryanGIT1">
      <img src="/static/cas logo circle 1.png" width="30" height="30" class="d-inline-block align-top" alt=""
        loading="lazy">
    </a>
  </nav>
  {% if msg %}
  <br>
  <div class="alert alert-light alert-dismissible fade show" role="alert">
    <strong>{{ msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
</div>
  <br>
  <br>
  <br>
  <div class="container">
    <img src="/static/Frame 1.png" alt="Frame1" style="width: 90%; height:90%; padding-left: 10%">
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container my-3">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#emailmodal"
        style="opacity: 1">Register</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container text-center" style="color: green; opacity: 1; font-size:400%; font-family: Muli">
    EMBED CONTROL 2.0
  </div>
  <br>
  <br>
  <br>
  <div class="container text-center" style="font-family: Muli; color: white;">
    <h1>“Just experience a plethora of concepts through this fun hands on workshop and show off your skills to your
      peers!”</h1>
    <br>
    <h1>“So take a step into this world of microcontrollers because such golden opportunities doesn't come twice!”</h1>
  </div>
  <br>
  <br>
  <br>
  <div class="container text-center" style="font-family: Muli; color :aliceblue">
    <h3>Embed Control 2.0 is the perfect event for your inquisitive minds! In this event you'll
      get a brief description regarding different types of AVR controllers by our talented experts. And guess what? You
      will actually be given a chance to build your own microcontroller development kits! </h3>
    <br><br>
    <h3>Ever wondered how embedded systems work? In this fast growing technological era
      getting an edge over others by diving deep into the ocean of knowledge is what you need the most! A
      Microcontroller is the heart of most of the devices that you use in your daily lives. What if we provide you with
      a stellar platform wherein you can explore the humongous world of microcontrollers?</h3>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container" style="font-family: Futura Bk BT; color: #00FFAA; font-size:450%">
    Our<br>
    Speaker
  </div>
  <br>
  <br>
  <div class="container" style="font-family: Futura Bk BT; color: #00FFAA; font-size:150%">
    <div class="media" style="opacity: 1;">
      <img src="/static/Frame 2.png" style="max-height: 50%; max-width: 50%; padding-right: 10%;" alt="speaker">
      <div class="media-body">
        Head (R&D) <span style="color: #f1f1f1;">- TCIL-IT (Govt of India Enterprise, Chandigarh)</span><br>
        Director (R&D) <span style="color: #f1f1f1;">- Embsoft Product Research & Development LLP,
          Chandigarh</span><br>
        12+ years of experience <span style="color: #f1f1f1;">in Embedded System Design & Product
          Development, for various industrial and domestic application</span><br>
        Embedded Electronics <span style="color: #f1f1f1;">products designer custimised R&D Consultant
          Corporate Trainers</span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container text-left" style="font-family: Futura Bk BT; color:#00FFAA; font-size:250%">
    <span style="color: #f1f1f1;">Mr. Harmesh Lal</span><br>
    Founder Director - Embsoft Products<br>
    Research & Development LLP Emb. Products R&D<br>
    Consultant - Technology Speaker / Trainer
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="modal fade" id="emailmodal" tabindex="-1" aria-labelledby="emailmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emailmodalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/" method="POST">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" name="name" required>
              </div>
              <div class="col">
                <input type="email" class="form-control" placeholder="Email name" name="email" required>
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    particlesJS.load("particles-js", "/static/particles.json",
      function () {
        console.log("particles.json has loaded");
      });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>